<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="h1-titulo">Lista de juegos</h1>
    <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let juego of juegos">
            <div class="card">
              <img class="card-img-top" [src]="juego.imagenUrl" alt="{{ juego.titulo }}">
              <div class="card-body">
                <h5 class="card-title">{{ juego.titulo }}</h5>
                <p class="card-text">{{ juego.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

  